{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}


<div class="container mt-5" style="background-color: whitesmoke">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/changepassword.png' %}" style="width:100%; height:400px">
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">CHANGE PASSWORD</h2>
            <HR>
            <form method="post">
                {% csrf_token %}
                <label>Old Password</label>
                <input type="password" class="form-control" placeholder="Enter Old Password" name="old">
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="Enter New Password" name="new">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Enter New Password Again" name="confirm">
                <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
            </form>
        </div>

    </div>
</div>
{% endblock %}